<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LADV</key>
	<dict>
		<key>APIKey</key>
		<string></string>
		<key>BaseURL</key>
		<string>https://ladv.de/api</string>
	</dict>
</dict>
</plist>
